extends layout

block content
  style
    label:hover { background: #ffb; }
    label { padding: 3px; margin: 2px; background: #eee; }
    .uncheck { color: #bbb; } .uncheck:hover { color: #000; }

  div.header(style="text-align: center; max-width: 800px; margin: 15px auto; border: 1px solid #ccc; background: #eee; padding: 10px 15px; border-radius: 10px")
    h1 Class of 2014 T Shirt Contest Runoff
    p(style="font-size: 16px") Runoff time! Excellence voting again. Ties this round get decided by a committee headed by Matt Reilly, Rachel Gebhart and Carl Bailey.
    p(style="font-style: italic") 
      | You are logged in as 
      b
        = user.id
      | . 
      a(href="/logout/")
        | Logout?

  if saved
    div.alert.alert-success(style="text-align: center") Your vote has been saved! You can recast it as often as you'd like before 11:59 PM Monday, May 6.
  else
    p(style="text-align: center") Cast your vote below. You can recast it as often as you'd like before 11:59 PM Monday, May 6.

  div.containers
    form(method='post')
      each submission in submissions
        div(class="row",style="text-align:center")
            h2 #{submission.name}
              br
              each url in submission.urls
                div.position(style="margin-bottom: 20px;border-color:black;border-width:10px;width:100%")
                  img(src="https://dl.dropboxusercontent.com/u/11830885/2014%20T-shirt%20Contest/" + url.addr,height="500px",width="500px",style="border-width: 2px;border-color: black;border-style: line;")
                  br
                  input(name=url.voting,type="checkbox",checked=answers[url.voting])
                  span(style="margin-left:10px") I totally dig the design above this checkbox!
      //- div(class="row",style="text-align:center")
      //-   h2 What's your shirt size (e.g., XS, S, M, L, XL) ?
      //-   input(type="text",name="size",value=answers["size"])
      //- div(class="row",style="text-align:center")
      //-   h2 What color do you want the shirt in?
      //-   input(type="text",name="color",value=answers["color"])
        //- each seo, seoname in positions
        //-   div.span3
        //-     h2 #{seoname}
        //-     p
        //-     each pos, posname in seo
        //-       
        //-         h4= posname
        //-         each person in pos
        //-           label(style=(String(answers['vote-' + seoname + '-' + posname]).indexOf(person.name) > -1 ? "font-style: italic" : ""))
        //-             input(name='vote-' + seoname + '-' + posname, type='checkbox', value=person.name, checked=String(answers['vote-' + seoname + '-' + posname]).indexOf(person.name) > -1, style="vertical-align: baseline")
        //-             |  &nbsp; #{person.name}

            p(style="margin-top: 10px; line-height: 14px")
              small(style="font-size: 10px; color: #999") When finished, scroll down and click "cast your vote".
                  
      div(style="text-align: center; margin-top: 20px")
        button.btn.btn-success.btn-large.btn-primary(style="font-size: 30px; padding: 15px 30px", enabled) Cast Your Vote

    br